<header
  class="border border-gray-300 bg-gray-100 h-screen transition-all duration-75 fixed w-20 shadow-sm overflow-x-hidden"
  [ngClass]="collapsed ? 'side-nav-collapsed' : ''"
>
  <!-- logo and label -->
  <div class="container mx-auto my-5 logo-container">
    <div class="flex items-center gap-5 relative">
      <div class="flex flex-col gap-5 items-center justify-center">
        @if(!collapsed){
        <div
          class="bg-white w-10 h-10 flex justify-center items-center rounded-full cursor-pointer text-gray-400"
          (click)="toggleCollapse()"
        >
          <app-navigation-icon
            iconName="Icon Button Open"
            class="w-3 cursor-pointer"
            iconColor="text-gray-400"
          ></app-navigation-icon>
        </div>
        }

        <picture (click)="toggleCollapse()" class="w-12 cursor-pointer">
          <img
            src="/assets/images/white-logo.webp"
            alt="Precision Logo"
            loading="lazy"
            class="bg-primary p-3 rounded-md w-full"
          />
        </picture>
      </div>

      @if(collapsed) {
      <div>
        <p class="text-primary font-medium text-lg">Precision Acc.</p>
        <p class="font-medium text-sm text-gray-400">Insights</p>
      </div>
      } @if(collapsed){

      <div
        class="bg-white w-10 h-10 flex justify-center items-center rounded-full absolute end-[-34px] cursor-pointer text-gray-400"
        (click)="toggleCollapse()"
      >
        <app-navigation-icon
          iconName="Icon Button Close"
          class="w-3 cursor-pointer"
          iconColor="text-gray-400"
        ></app-navigation-icon>
      </div>
      }
    </div>
    <div
      class="after:content-[''] after:block after:border-b after:border-gray-300 after:mt-4 after:w-full after:mx-auto"
    ></div>
  </div>
  <!-- navigation links -->
  <div class="container mx-auto px-4 py-5">
    <ul class="side-nav">
      @for (item of navData; track $index) {
      <li class="side-nav-item">
        <a
          class="side-nav-link"
          [routerLink]="[item.route]"
          routerLinkActive="active "
        >
          @if(item.icon) {
          <app-navigation-icon
            class="side-nav-link-icon "
            [iconName]="item.icon"
          ></app-navigation-icon>
          } @if(collapsed) {
          <span class="side-nav-link-text w-44">{{ item.name }}</span>
          }
        </a>
      </li>
      }
    </ul>
  </div>
</header>
