<p-dropdown
  [options]="bussiness"
  [(ngModel)]="selectedbussiness"
  optionLabel="companyName"
  [filter]="true"
  filterBy="companyName"
  [showClear]="true"
  placeholder="Select Bussiness"
  class="block w-56 lg:w-[434px]"
>
  <ng-template pTemplate="filter" let-options="options">
    <div class="flex gap-1 border-b border-gray-300 pb-3 items-center">
      <app-navigation-icon
        iconType="search"
        iconName="search-icon"
        class="text-white"
      />
      <input
        type="text"
        pInputText
        placeholder="Search"
        [(ngModel)]="filterValue"
        (keyup)="customFilterFunction($event, options)"
        class="focus-visible:outline-none w-full"
      />
    </div>
  </ng-template>
  <ng-template pTemplate="selectedItem" let-selectedOption>
    <p class="text-gray-400 text-sm font-semibold font-sans">
      {{ selectedOption.companyName }}
    </p>
  </ng-template>
  <ng-template let-bussiness pTemplate="item">
    <div class="text-gray-400 text-sm font-semibold font-sans pb-1">
      {{ bussiness.companyName }}
    </div>
    <p class="text-[#949494] text-xs font-semibold font-sans">
      Owner:{{ bussiness.qbMemberName }}
    </p>
  </ng-template>
</p-dropdown>
