<app-top-nav [items]="breadcrumbItems" />
<div class="flex gap-6 my-6 w-full">
  <div class="border-e border-gray-300 pe-6 w-full">
    <app-card-amounts mainIconName="pending-transactions" mainHeadTitle="Pending Transactions"
      [firstAmount]="totalPendingTransactions" firstTitle="Total Pending Transactions"
      secondTitle="Awaiting Your Reviews" [secondAmount]="totalReviewedTransactions" />
  </div>
  <div class=" w-full">
    <app-card-amounts mainIconName="businesses" mainHeadTitle="Businesses" [firstAmount]="totalBusiness"
      firstTitle="Total Businesses" secondTitle="Business with Pending Transactions"
      [secondAmount]="totalBusinessWithPendingTransactions" />
  </div>

</div>
<div class="border rounded-xl border-gray-300  rounded-b-none border-b-0 ps-2 py-2">
  <app-tabs [tabs]="tabs" [selectedTab]="selectedTab" (tabsChanged)="selectTab($event)" [isBoarded]="false" [amount]="totalBusiness"/>

</div>
@if(selectedTab=='My Profile')
{
<app-custom-table [tableHeader]="businessesTableHeader" [AllData]="businesses" placeholderText="Search Businesses"
  [isBusiness]="true" />}
