<mat-form-field class="w-full !bg-white border-0">
  <mat-date-range-input [rangePicker]="picker" [min]="minDate" [max]="maxDate">
    <input
      matStartDate
      placeholder="From"
      class="placeholder:text-gray-400 placeholder:font-semibold"
    />
    <input
      matEndDate
      placeholder=" To"
      class="placeholder:text-gray-400 placeholder:font-semibold"
    />
  </mat-date-range-input>
  <mat-datepicker-toggle
    class="w-full"
    matIconSuffix
    [for]="picker"
  ></mat-datepicker-toggle>
  <mat-date-range-picker #picker></mat-date-range-picker>
</mat-form-field>
