<div class="mt-9 border mb-6 !border-gray-300 rounded-2xl p-1 shadow-sm">
  <p-tabView
    [(activeIndex)]="selectedTabIndex"
    (activeIndexChange)="onTabChange()">
    <p-tabPanel *ngFor="let tab of tabs">
      <ng-template pTemplate="header">
        {{ tab.title }}
        <span
          class="ms-2 bg-gray-200 border border-[#BFBFBF] px-2 rounded-full"
          >{{ tab.count }}</span
        >
      </ng-template>
      <div class="flex gap-1 border-b border-gray-300 pb-3 items-center ps-5">
        <app-navigation-icon
          iconType="search"
          iconName="search-icon"
          class="text-white"
        />
        <input
          type="text"
          pInputText
          [(ngModel)]="searchQuery"
          (ngModelChange)="resetPagination()"
          [placeholder]="'Search ' + tabs[selectedTabIndex].title"
          class="focus-visible:outline-none w-full"
        />
      </div>

      <p-table
        [value]="paginatedCustomers"
        [rows]="rowsPerPage"
        [tableStyle]="{ 'min-width': '50rem' }"
        [rowsPerPageOptions]="[5, 10, 20]"
      >
        <ng-template pTemplate="header">
          <tr>
            <th>_</th>
            <th style="width: 25%">Name</th>
            <th style="width: 20%">Company</th>
            <th style="width: 20%">Status</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-customer>
          <tr>
            <td>{{ customer.id }}</td>
            <td>{{ customer.name }}</td>
            <td>{{ customer.company }}</td>
            <td>{{ customer.status }}</td>
            <!-- Add other data as needed -->
          </tr>
        </ng-template>
      </p-table>
    </p-tabPanel>
  </p-tabView>
</div>
<p-paginator
  [rows]="rowsPerPage"
  [totalRecords]="filteredCustomers.length"
  (onPageChange)="onPageChange($event)"
  [rowsPerPageOptions]="[5, 10, 20]"
>
</p-paginator>
