<app-top-nav
  [items]="breadcrumbItems"
  [user]="true"
/>
<div class="mt-12">
<app-tabs
  [tabs]="transactionTabs"
  (tabsChanged)="selectTab($event)"
  [selectedTab]="selectedTab"
/>
</div>

<div *ngIf="selectedTab === 'Pending'">
  <!--Table-->
  <app-custom-table [AllData]="transactions" (openFilterModal)="openFilter()" />
</div>
<div *ngIf="selectedTab === 'Updated'">Content for Updated</div>
<div *ngIf="selectedTab === 'History'">Content for History</div>
<!-- FilterModal -->
<div [ngClass]="{ 'opacity-0': !filterVisible }">
  <app-modal
    [modalVisible]="filterVisible"
    (ModalClosed)="closeFilter($event)"
    [isFilter]="true"
  />
</div>

<!-- overlay -->
<app-overlay [modalVisible]="filterVisible" />
