<app-top-nav
  [items]="breadcrumbItems"
  pcName="computer"
  userName="miral sobhy"
  [user]="true"
/>
<div class="sm:hidden">
  <label for="tabs" class="sr-only">Select your country</label>
  <select
    id="tabs"
    class="bg-gray-50 border border-gray-300 text-gray-400 text-sm rounded-sm"
  >
    <option>Profile</option>
    <option>Dashboard</option>
    <option>setting</option>
  </select>
</div>
<ul
  class="font-semibold text-center text-gray-400 hidden border w-fit border-gray-300 sm:flex mt-12 rounded-md"
>
  <li
    (click)="selectTab('Pending')"
    class="select-none bg-gray-100 inline-block px-4 py-2 border-r border-gray-300 rounded-l-md focus:ring-4 active focus:outline-none cursor-pointer"
    [ngClass]="{
         'text-primary': selectedTab === 'Pending',
         'bg-white': selectedTab === 'Pending',
       }"
  >
    Pending
  </li>
  <li
    (click)="selectTab('Updated')"
    class="select-none inline-block px-4 py-2 bg-gray-100 border-r border-gray-300 focus:outline-none cursor-pointer"
    [ngClass]="{
         'text-primary': selectedTab === 'Updated',
         'bg-white': selectedTab === 'Updated',
       }"
  >
    Updated
  </li>
  <li
    [ngClass]="{
         'text-primary': selectedTab === 'History',
         'bg-white': selectedTab === 'History',
       }"
    (click)="selectTab('History')"
    class="select-none inline-block px-4 py-2 bg-gray-100 rounded-r-md focus:outline-none cursor-pointer"
  >
    History
  </li>
</ul>
<div *ngIf="selectedTab === 'Pending'" class="">
  <div class="max-w-sm my-6 flex gap-2 items-center">
    <div class="relative flex-1">
      <div
        class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none"
      >
        <app-navigation-icon
          iconType="search"
          iconName="search-icon"
          class="text-white"
        />
      </div>
      <input
        type="search"
        id="default-search"
        class="block w-full max-w-full ps-10 pe-4 py-3 text-sm text-gray-400 border border-gray-300 rounded-lg focus:outline-none focus:ring-primary focus:border-primary focus:border-2 placeholder:text-gray-400 placeholder:font-semibold"
        placeholder="Search transactions"
      />
    </div>
    <div class="border border-gray-300 p-3 rounded-md cursor-pointer">
      <app-navigation-icon iconType="common" iconName="filter" />
    </div>
  </div>

  <div class="relative overflow-x-auto">
    <div class="border border-gray-300 rounded-md overflow-hidden">
      <table class="w-full text-sm text-left text-black font-semibold ">
        <thead class="bg-gray-100 border-b border-gray-300">
          <tr>
            <th scope="col" class="p-4">
              <div class="flex items-center">
                <input
                  id="checkbox-all-search"
                  type="checkbox"
                  class="w-4 h-4 text-primary border border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-primary"
                />
                <label for="checkbox-all-search" class="sr-only"
                  >checkbox</label
                >
              </div>
            </th>
            <th scope="col" class="pe-4">Name</th>
            <th scope="col" class="pe-4">Date</th>
            <th scope="col" class="pe-4">CHK</th>
            <th scope="col" class="pe-4">Type</th>
            <th scope="col" class="pe-4">Amount</th>
            <th scope="col" class="pe-4">Source</th>
            <th scope="col" class="pe-4">Comment</th>
            <th scope="col" class="pe-4">Classification/Account</th>
            <th scope="col" class="pe-4">Actions</th>
          </tr>
        </thead>
        <tbody>
          @for(item of transactions ; track $index){
          <tr class="border-b border-gray-300 last:border-0">
            <td class="w-4 px-4 py-5">
              <div class="flex items-center">
                <input
                  id="checkbox-table-search-2"
                  type="checkbox"
                  class="w-4 h-4 text-blue-600 border border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
                />
                <label for="checkbox-table-search-2" class="sr-only"
                  >checkbox</label
                >
              </div>
            </td>
            <td class="pe-4 py-5">{{ item.name }}</td>
            <td class="pe-4 py-5">{{ item.date }}</td>

            <td class="pe-4 py-5  text-center">{{ item.chk }}</td>
            <td class="pe-4 py-5">{{ item.type }}</td>
            <td class="text-[#FF0000] pe-4 py-5">$({{ item.amount }})</td>

            <td class="pe-4 py-5">PNC CHK - 3775</td>
            <td class="truncate max-w-custom pe-4 py-5">
              {{ item.comment }}
            </td>
            <td class="pe-4 py-5">
              <select
                id="countries"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 "
              >
                <option selected>Suspense</option>
                <option value="US">United States</option>
                <option value="CA">Canada</option>
                <option value="FR">France</option>
                <option value="DE">Germany</option>
              </select>
            </td>
            <td class="pe-4">
              <button
                class="bg-primary text-white text-sm font-semibold py-2 px-3 rounded-md"
              >
                Update
              </button>
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>
<div *ngIf="selectedTab === 'Updated'" class="mt-4">Content for Updated</div>
<div *ngIf="selectedTab === 'History'" class="mt-4">Content for History</div>
<div class="fixed top-1 end-0 bottom-0 p-96 bg-red-600">
jfffff
</div>
