<app-top-nav [items]="breadcrumbItems" [user]="true" />
<!--Incomes-->
@if(isBusinessSelected)
{
<div class="my-6 flex ">
  <div class="border-e border-gray-300 pe-6 w-full flex flex-col gap-4">
    <app-incomes label="Net Income" labelIcon="net-income-main" [amount]="netIncomeTotal" themeColor="text-primary"
      [percentage]="netIncomeRate" percentageIcon="net-income" />
    <app-incomes label="Total Expense" labelIcon="total-expense-main" [amount]="expensesTotal"
      themeColor="text-[#FF0000]" [percentage]="expensesRate" percentageIcon="total-expense" />
  </div>
  <div class="w-full ps-4 flex flex-col gap-4">
    <app-incomes label="Gross Profit" labelIcon="gross-profit-main" [amount]="grossProfitTotal "
      themeColor="text-[#20B62F]" [percentage]="grossProfitRate" percentageIcon="gross-profit" />
    <div class="w-full">
      <div class="flex gap-3 items-center text-gray-400 mb-2">
        <app-navigation-icon class="text-white" iconType="common" iconName="pending-transactions" />
        <span class="font-medium text-2xl">Pending Transactions</span>
      </div>
      <div class="flex gap-2 text-gray-400">
        <div
          class="flex h-28 w-full flex-col justify-center items-start gap-2 self-stretch border border-gray-300 bg-gray-100 p-4 rounded-md">
          <span class=" text-[32px] font-semibold leading-[48px] tracking-[1.6px] block">{{pendingTrx}}</span>
          <span class=" text-base font-semibold leading-6 tracking-[0.8px] block">Total Pending Transactions </span>
        </div>
        <div
          class="flex h-28 w-full flex-col justify-center items-start gap-2 self-stretch border border-gray-300 bg-gray-100 p-4 rounded-md">
          <span class=" text-[32px] font-semibold leading-[48px] tracking-[1.6px] block">{{awaitingTrx}}</span>
          <span class=" text-base font-semibold leading-6 tracking-[0.8px] block">Waiting Accountant Approve </span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="border rounded-xl border-gray-300  rounded-b-none border-b-0 ps-2 py-2">
  <app-tabs [tabs]="clientTabs" (tabsChanged)="selectTabClient($event)" [selectedTab]="selectedTab"
    [isBoarded]="false" />
</div>
@if(selectedTab=='Net income')
{<app-bar-chart></app-bar-chart>}
@if(selectedTab=='Expenses ')
{<h1>hhhhhhhhhh</h1>}
@if(selectedTab=='Gross profit')
{<h1>jjjjjjjjjjjjjj</h1>
}
}
@else{
<app-choose-business />
}
