<app-top-nav [items]="breadcrumbItems" [user]="true" />
<div class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-11 text-gray-400">
  <div class="border border-gray-300 my-6  py-4 rounded-md">
    <div class="border-b border-gray-300 px-4">
      <p class="font-semibold text-sm">Sarahs Gift & Party Shop LLC</p>
      <p>Send an email to the owner's email to enable them to establish a password and provide access to essential
        content and instructional videos for using our application.</p>
    </div>
    <div class="flex items-center justify-between px-4 pt-3">
      <div class="font-semibold">Create Password</div>
      <button class="flex items-center gap-2 bg-primary text-white rounded-md px-8 py-2 text-sm">
        <app-navigation-icon iconName="sms" iconType="common" />
        <span>Send Email</span>
      </button>
    </div>
  </div>
  <div class="border border-gray-300 my-6 px-4 py-2">
    vv
  </div>
  <div class="border border-gray-300 my-6 px-4 py-2">
    vv
  </div>
  <div class="border border-gray-300 my-6 px-4 py-2">
    vv
  </div>
</div>
