<div
  class="flex flex-col lg:flex-row justify-between items-start lg:items-center gap-4 lg:gap-0 border-b border-gray-300 pb-7 !px-0">
  <app-bread-crumb [items]="items" />
  <div class="flex flex-col items-start lg:flex-row lg:items-center gap-2 lg:w-8/12">
    @if(user){
    <div class="lg:border-e border-gray-300 pe-3  lg:ms-auto">
      <app-user />
    </div>
    } @if(filter){
    <div class="lg:w-5/12 w-60" [ngClass]="{'lg:ms-auto': !user}">
      <app-filter-dropdown-menu />

    </div>
    }
  </div>
</div>
