<app-top-nav [items]="breadcrumbItems" [user]="true" />

@if(isBusinessSelected){
<div class="flex lg:justify-between items-center mt-12 z-0">
  <div class=" ">
    <div class="flex items-center  gap-6">
      <app-tabs [tabs]="profitAndLossTabs" (tabsChanged)="selectTab($event)" [selectedTab]="selectedTab" />
      @if(selectedTab=='Monthly')
      {
      <div class="h-7 w-[1px] bg-gray-300"></div>
      <div class="border border-gray-300 rounded-md ">
        <app-dropdown [options]="yearOptions" [isSearchBoxVisible]="false" [selectedOption]="selectedYear" (optionSelected)="onYearChange($event)"/>
      </div>
    }
    @else {
      <div class="border px-3 py-2.5 rounded-md border-gray-300 cursor-pointer" (click)="togglePercentage()">
      <app-navigation-icon iconType="common" iconName="Percentage"/>

      </div>
    }
    </div>

  </div>
  <div class="flex items-center gap-2 ">
    <app-compare />
    <app-dropdown (click)="$event.stopPropagation()" [options]="options" [isSelectedOption]="false" />
  </div>
</div>
<div *ngIf="selectedTab === 'Monthly'" class="overflow-x-auto w-full relative">
  <app-report-table [columns]="['Name','Total']" [periods]="months" [reportData]="monthlyReport" />
</div>
<div *ngIf="selectedTab === 'Yearly'" class="overflow-x-auto w-full relative">
  <app-report-table [columns]="['Name']" [periods]="yearOptions" [reportData]="yearlyReport" [isPercentage]="isPercentage" />
</div>
}
@else {
<div class="flex flex-col items-center justify-center h-screen gap-4">
  <div class="text-2xl font-medium text-center">
    <span class="block ">You haven’t selected a business yet!</span>
    <span class=" block text-sm">Please select a Business to display its
      information.</span>
  </div>
  <img src="/assets/images/empty-state.webp" alt="Empty State" loading="lazy" />
</div>

}
