<header class="border border-gray-300 bg-gray-100 h-screen">
  <!-- logo and label -->
  <div class="container mx-auto my-5">
    <div class="flex items-center gap-5">
      <picture>
        <img
          src="/assets/images/white-logo.webp"
          alt="Precision Logo"
          loading="lazy"
          class="bg-primary p-3 rounded-md"
        />
      </picture>
      <div class="">
        <p class="text-primary font-medium text-lg">Precision Acc.</p>
        <p class="font-medium text-sm">Insights</p>
      </div>
    </div>
    <div
      class="after:content-[''] after:block after:border-b after:border-gray-300 after:mt-4 after:w-full after:mx-auto"
    ></div>
  </div>
  <!-- navigation links -->
  <div class="container mx-auto px-4 py-5">
    <mat-tree
      #tree
      [dataSource]="dataSource"
      [childrenAccessor]="childrenAccessor"
      class="example-tree"
    >
      <!-- Node without children -->
      <mat-tree-node *matTreeNodeDef="let node; when: !hasChild">
        <div
          class="flex items-center gap-2">
          @if (node.icon) {
          <app-navigation-icon [iconName]="node.icon"></app-navigation-icon>
          }
          <p>{{ node.name }}</p>
        </div>
      </mat-tree-node>

      <!-- Node with children -->
      <mat-nested-tree-node
        *matTreeNodeDef="let node; when: hasChild"
        matTreeNodeToggle
        [cdkTreeNodeTypeaheadLabel]="node.name"
      >
        <div class="mat-tree-node">
          <div class="flex items-center gap-2">
            @if (node.icon) {
            <app-navigation-icon [iconName]="node.icon"></app-navigation-icon>
            }
            <p>{{ node.name }}</p>
            <button
              mat-icon-button
              matTreeNodeToggle
              [attr.aria-label]="'Toggle ' + node.name"
            >
              <mat-icon>
                {{
                  tree.isExpanded(node) ? "arrow_drop_up" : "arrow_drop_down"
                }}
              </mat-icon>
            </button>
          </div>
        </div>
    <!-- Tabs layout for the children of 'Dashboard' -->
    <div [class.example-tree-invisible]="!tree.isExpanded(node)" *ngIf="node.name === 'Dashboard'" role="group">
      <div class="flex space-x-4 border-b border-red-300">
        <button
          *ngFor="let child of node.children"
          (click)="selectTab(child)"
          [ngClass]="{
            'text-primary border-primary border-b-2': selectedTab === child,
            'text-gray-500': selectedTab !== child
          }"
          class="pb-2"
        >
          {{ child.name }}
        </button>
      </div>

      <!-- Display selected tab content -->
      <div class="py-4">
        <ng-container *ngIf="selectedTab">
          <p>You have selected: {{ selectedTab.name }}</p>
          <!-- Add more content as needed -->
        </ng-container>
      </div>
    </div>

        <div
          [class.example-tree-invisible]="!tree.isExpanded(node)"
          role="group"
        >
          <ng-container matTreeNodeOutlet></ng-container>
        </div>
      </mat-nested-tree-node>
    </mat-tree>
  </div>
</header>
