<app-top-nav
  [items]="breadcrumbItems"
  [user]="true"
/>
<div class="flex items-center  justify-end gap-2 mt-7 mb-5">
<app-compare/>
  <app-dropdown
    (click)="$event.stopPropagation()"
    [options]="options"
    [isSelectedOption]="false"
  />
</div>

<!-- Account -->
<div class="overflow-x-auto">
  <div class="flex flex-col">
    <div class="flex font-semibold text-base">
      <div class="w-[257px] text-start px-5">Accounts</div>
      <div
        *ngFor="let year of [2025, 2024, 2023, 2022, 2021, 2020, 2019]"
        class="text-center w-[148px] px-5 me-1"
      >
        {{ year }}
      </div>
    </div>
    <ng-container *ngFor="let category of balanceSheet">
      <!-- Assets Row -->
      <div class="flex">
        <div
          class="w-[257px] text-xs font-semibold text-white bg-primary px-5 py-3 rounded-[4px] me-[2px] mb-[2px]"
        >
          Assets
        </div>
        <div
          *ngFor="let year of [2025, 2024, 2023, 2022, 2021, 2020, 2019]"
          class="text-xs font-semibold text-white bg-primary px-5 py-3 rounded-[4px] w-[148px] me-[2px] mb-[2px]">
          {{ category.Accounts.Assets.Total[year.toString()] | currency }}
        </div>
      </div>
      <!-- Current Assets Section Row -->
      <div class="flex cursor-pointer" (click)="toggleSection('currentAssets')">
        <div
          class="w-[257px] text-xs font-semibold text-secondary bg-light-gray px-5 py-3 rounded-[4px] flex justify-between items-center me-[2px] mb-[2px]"
          [ngClass]="{
            'bg-secondary text-white': expandedSections['currentAssets']
          }"
        >
          <span>Current Assets</span>
          <app-navigation-icon
            [isRotated]="expandedSections['currentAssets']"
            iconType="common"
            iconName="expand_more"
            [ngClass]="{ 'rotate-180': expandedSections['currentAssets'] }"
          />
        </div>
        <div
          *ngFor="let year of [2025, 2024, 2023, 2022, 2021, 2020, 2019]"
          class="text-xs font-semibold text-secondary bg-light-gray px-5 py-3 rounded-[4px] w-[148px] me-[2px] mb-[2px]"
          [ngClass]="{
            'bg-secondary text-white': expandedSections['currentAssets']
          }"
        >
          {{
            category.Accounts.Assets.CurrentAssets.Total[year.toString()]
              | currency
          }}
        </div>
      </div>
      <!-- Loop through current assets details if the section is expanded -->
      <ng-container *ngIf="expandedSections['currentAssets']">
        <div
          *ngFor="let detail of category.Accounts.Assets.CurrentAssets.Details"
          class="flex"
        >
          <div
            class="w-[257px] text-xs font-semibold text-secondary bg-[#EDEFF2] px-5 py-3 rounded-[4px] me-[2px] mb-[2px]"
          >
            {{ detail.name }}
          </div>
          <div
            *ngFor="
              let year of [2025, 2024, 2023, 2022, 2021, 2020, 2019]
            "
            class="text-xs font-semibold text-secondary bg-[#EDEFF2] px-5 py-3 rounded-[4px] w-[148px] me-[2px] mb-[2px]"
          >
            {{ detail.values[year.toString()] | currency }}
          </div>
        </div>
      </ng-container>
    </ng-container>
  </div>
</div>

<div class="overflow-x-auto">
  <ng-container *ngFor="let category of balanceSheet">
    <!-- Assets Row -->
    <div class="flex">
      <div
        class="w-[257px] text-xs font-semibold text-white bg-primary px-5 py-3 rounded-[4px] me-[2px] mb-[2px]"
      >
        Assets
      </div>
      <div
        *ngFor="let year of [2025, 2024, 2023, 2022, 2021, 2020, 2019]"
        class="text-xs font-semibold text-white bg-primary px-5 py-3 rounded-[4px] w-[148px] me-[2px] mb-[2px]"
      >
        {{ category.Accounts.Assets.Total[year.toString()] | currency }}
      </div>
    </div>

    <!-- Current Assets Section Row -->
    <div class="flex cursor-pointer" (click)="toggleSection('currentAssets')">
      <div
        class="w-[257px] text-xs font-semibold text-secondary bg-light-gray px-5 py-3 rounded-[4px] flex justify-between items-center me-[2px] mb-[2px]"
      >
        <span>Current Assets</span>
        <app-navigation-icon
          [isRotated]="expandedSections['currentAssets']"
          iconType="common"
          iconName="expand_more"
          [ngClass]="{ 'rotate-180': expandedSections['currentAssets'] }"
        />
      </div>
      <div
        *ngFor="let year of [2025, 2024, 2023, 2022, 2021, 2020, 2019]"
        class="text-xs font-semibold text-secondary bg-light-gray px-5 py-3 rounded-[4px] w-[148px] me-[2px] mb-[2px]"
      >
        {{
          category.Accounts.Assets.CurrentAssets.Total[year.toString()]
            | currency
        }}
      </div>
    </div>

    <!-- Loop through current assets details if the section is expanded -->
    <ng-container *ngIf="expandedSections['currentAssets']">
      <div
        *ngFor="let detail of category.Accounts.Assets.CurrentAssets.Details"
        class="flex"
      >
        <div
          class="w-[257px] text-xs font-semibold text-secondary bg-light-gray px-5 py-3 rounded-[4px] me-[2px] mb-[2px]"
        >
          {{ detail.name }}
        </div>
        <div
          *ngFor="let year of [2025, 2024, 2023, 2022, 2021, 2020, 2019]"
          class="text-xs font-semibold text-secondary bg-light-gray px-5 py-3 rounded-[4px] w-[148px] me-[2px] mb-[2px]"
        >
          {{ detail.values[year.toString()] | currency }}
        </div>
      </div>
    </ng-container>
  </ng-container>
</div>
